[submodule "personaldocs"]
	path = 02_My_Personal_Docs
	url = git@github.com-softwaresunleashed:softwaresunleashed/personaldocs.git
[submodule "Programming_Stuff"]
	path = 01_Programming_Stuff
	url = git@github.com-softwaresunleashed:softwaresunleashed/Programming_Stuff.git
[submodule "misc_letters"]
	path = 03_Misc_Letters
	url = git@github.com-softwaresunleashed:softwaresunleashed/misc_letters.git
